* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E8ecf3;
    height: 100vh;
    font-family: 'mulish', sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80vh;
}

.message {
    background-color: #0c1226;
    color: #ccc;
    border-radius: 15px;
    height: 30px;
    width: 220px;
    font-size: 9px;
    font-weight: 100;
}

.title {
    font-size: 17px;
    font-weight: 700;
    margin: 35px;
    color: #333;
}

.palette {
    flex-direction: row;
    height: 190px;
    width: 615px;
}

.box {
    background-color: #fff;
    height: 170px;
    width: 100px;
    border-radius: 7px;
    margin: 8px;
    font-size: 10px;
    color: #555;
}

.sub-box {
    height: 130px;
    width: 90px;
    border-radius: 5px;
}

.grey {
    background-color: #eeedf0;
}

.blue {
    background-color: #A1B5C1;
}

.pink {
    background-color: #F9ACA7;
}

.dark-grey {
    background-color: #68747d;
}

.fuccia {
    background-color: #CF365F;
}

.text {
    height: 30px;
    width: 130px;
}

.diferent {
    margin-bottom: 25px;
    box-shadow: 0px 2px 6px #bbb;
    color: #333;
    font-size: 11px;
    font-weight: 700;
}

.generate {
    background-color: #7e6cca;
    color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 1px 5px #675a9f;
    height: 35px;
    width: 220px;
    margin-top: 40px;
    font-size: 10px;
    font-weight: 100;
}

.button-text {
    font-size: 10px;
    color: #777;
    margin-top: 15px;
}

.click-copy {
    border: none;
    background-color: #fff;
    color: #999;
    border-radius: 10px;
    height: 25px;
    width: 250px;
    font-size: 9px;
    margin-top: 45px;
}